<div class="container" id="mainContainer">
	<%- include('../partials/header') %>
	<%- include('../partials/nav') %>
	<main class="main-content">
		<%- include('../partials/section-dashboard') %>
		<%- include('../partials/section-members') %>
		<%- include('../partials/section-assignments') %>
		<%- include('../partials/section-scheduling') %>
		<%- include('../partials/section-organization') %>
		<%- include('../partials/section-callings') %>
		<%- include('../partials/section-roles') %>
		<%- include('../partials/section-users') %>
		<%- include('../partials/section-testing') %>
		<%- include('../partials/section-workflows') %>
		<%- include('../partials/section-eventscheduletemplate') %>
		<%- include('../partials/section-configuration') %>
		<%- include('../partials/section-forms') %>
		<%- include('../partials/section-reports') %>
	</main>
	<%- include('../partials/modal') %>
</div>
